{% import "templates/VerticalScrollStyle.njk" as vss with context %}
{% macro render() %}
  {% if config.scroll == "vertical" %}
    {{ vss.render(config) }}
    {% if config.showPortfolioGrowth %}
      {% set fadeSpeed =  stocks.length + 1 %}
    {% else %}
      {% set fadeSpeed =  stocks.length %}
    {% endif %}
    {% set animationStyle = ' style="animation-duration: ' + fadeSpeed * config.fadeSpeedInSeconds + 's"' %}
  {% endif %}
  <!-- Portfolio Section -->
  {% if true %}
    <div class="portfolio-section" style="text-align: center; margin-bottom: 0.8rem">
      {% set portfolio = utils.getPortfolio(stocks, config) %}
      {% for entry in portfolio %}
        {% if entry.value > entry.oldValue %}
          {% set colorClass = "high" %}
        {% elif entry.value < entry.oldValue %}
          {% set colorClass = "low" %}
        {% else %}
          {% set colorClass = "" %}
        {% endif %}
        <div style="font-size: 1rem; ">
          Current Portfolio Value
          <div class="jast-stock" style="font-size: 2rem; font-weight: bold;">
            <span class="">
              {{ utils.getPortfolioValueAsString(entry, config) }}
            </span>
          </div>
        </div>
        <div class="jast-stock" style="font-size: 1rem; ">
          <span class="{{ colorClass }} ">
            {{ utils.getPortfolioChangeAsString(entry, config) }} ({{ utils.getPortfolioChangePercentAsString(entry, config) }})
            <span>

        </div>
      {% endfor %}
    </div>
  {% endif %}
  <table {{ animationStyle | safe }}>
    {% for stock in stocks %}
      {% if not stock.meta.hidden or config.showHiddenStocks %}
        <tr class="jast-stock">
          <td>
            {{ utils.getStockSymbol(stock) }}
          </td>
          <td style="text-align: right;">
            {{ utils.getStockQuantity(stock) }}
          </td>
          <td style="text-align: right;">
            {{ utils.getStockAvgPrice(stock) }}
          </td>
          {% if utils.getStockChange(stock) > 0 %}
            {% set colorClass = "high" %}
          {% elif utils.getStockChange(stock) < 0 %}
            {% set colorClass = "low" %}
          {% else %}
            {% set colorClass = "" %}
          {% endif %}
          <td style="text-align: right;">
            <span class="{{ colorClass }}">
              {{ utils.getCurrentValueAsString(stock, config) }}
            </span>
          </td>
          <td style="text-align: right;">
            {% if colorClass and (config.showChangeValue or config.showChangePercent) %}
              <span class="{{ colorClass }} ">
                {% if config.showChangeValue %}
                  <span class="">
                    {% if colorClass == "high" %}+{% endif %}
                    {{ utils.getStockChangeAsString(stock, config) }}</span>
                {% endif %}
                {% if config.showChangePercent %}
                  <span class="">
                    {% if colorClass == "high" %}+{% endif %}
                    {{ utils.getStockChangePercentAsString(stock, config) }}</span>
                {% endif %}
              </span>
            {% endif %}
          </td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
  {% if config.showLastUpdate %}
    <div style="font-size: small; text-align: center">{{ "lastUpdate" | translate | safe }}
      {{ lastUpdate }}</div>
  {% endif %}
{% endmacro %}